<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/burgers.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	</head>
	<body>
		<img src="/assets/img/burger_logo.jpg" width="100px" height="100px" id="burgerpic">
		{{{ body }}}
	</body>
</html>